<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글목록 페이지</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

    $(document).ready(function () {
        get_detail()
    });
    
    function get_detail() {
        $.ajax({
            type: "GET",
            url: `blogList`,
            data: {},
            dataType: "json",
            success: function (response) {
                //routes에서 보내준 값 받음. 
                 let blogList = response["blogList"]
                    //console.log(blogList); //ok

                 for (i = 0; i < blogList.length; i++) {
                let subject = blogList[i]["subject"]
                let nick = blogList[i]["nick"]
                let content = blogList[i]["content"]
                let password_write = blogList[i]["password_write"]
                let NowDate = blogList[i]["NowDate"]
                let PostId = blogList[i]["PostId"]

                //console.log(subject, nick, content); //ok

                let htmlTemp = `<tr>
                             <td><a href='list_Detail?PostId=${PostId}'>${subject}</a></td>
                             <td>${nick}</td>
                             <td>${NowDate}</td>
                             </tr>`
                            

                $("#list-box").append(htmlTemp)
                 }
               
            }
        })
    }





//태성님 코드 수정 (test코드)
    // function test() {
    //     $.ajax({
    //             type: 'POST',
    //             url: '/user/authUser',
    //             contentType: "application/json",
    //             xhrFields: { withCredentials: true },
    //             data:{ },

    //             success: (data, status, xhr) => {
    //                 alert("성공했넹")
    //             },

    //             error: function (xhr, status, error) {
    //                 alert("실패했넹")
    //             },
    //     })
            
    //     }

</script>
<body>
    <div id="list-box" name="list-box">
        <h1>글목록 페이지</h1>
        <button onClick="location.href='/user/login'">로그인</button> 
        <button onClick="location.href='/user/logout'">로그아웃</button> 
        <!-- <button onclick="test();">내정보확인</button>  -->
    </div>
</body>
</html>

