<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글조회 페이지</title>
</head>
<style>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
  //이 페이지가 랜딩되고 있는 url의 쿼리스트링 가져오기
  let PostId = new URLSearchParams(location.search).get('PostId')
  // console.log(PostId); //ok      


  $(document).ready(function () {
    get_detail();
    call_comment();
    if (!localStorage.getItem("token")) {
      $('#modifyBtn').hide()
      $('#removeBox').hide()
    }
  });


  function get_detail() {
    $.ajax({
      type: "GET",
      url: `blogList/${PostId}`,
      dataType: "json",
      data: {},
      success: function (response) {

        //routes에서 보내준 값 받음. 
        let blogList = response["blogList"]
        //console.log(blogList);//브라우저 콘솔에서 나온다.ok 

        let subject = blogList["subject"]
        let NowDate = blogList["NowDate"]
        let nick = blogList["nick"]
        let content = blogList["content"]
        let imageUrl = blogList["imageUrl"]

        let temp_html = `<h1>글조회 페이지</h1>
                            <div>
                              <h5>글제목: ${subject}<h5>
                              <h5>작성시간: ${NowDate}<h5>
                              <h5>작성자명: ${nick}<h5>
                              <h5>글내용: ${content}<h5>
                              <h5>이미지: ${imageUrl}<h5>
                            </div>`
        $('#detailAppend').append(temp_html)

      }
    })
  }

  function modifyPost() {
    location.href = "modify?PostId=" + PostId
  }



  function remove_validation() {
    $.ajax({
      type: "GET",
      url: `blogList/${PostId}`,
      data: {},
      success: function (response) {
        let blogList = response["blogList"];
        //console.log(blogList)
        //db에 저장된 비밀번호 가져오기
        let password_write = blogList['password_write']
        //비밀번호 입력창에 입력한 값과 db로 가져온 pwd를 비교하여 검사
        if (password_write === Number($("#password_write").val())) {
          remove();
        }
        else {
          alert("비밀번호가 다릅니다.");
        }
      }
    });
  }


  function remove() {
    $.ajax({
      type: "DELETE",
      url: `blogList/${PostId}`,
      data: {},
      headers: {
        authorization: `Bearer ${localStorage.getItem('token')}`,
      },
      success: function (response) {
        if (response["result"] == "success") {
          location.href = "/blog/list"
          removeCheck();
        }
      },
    });
  }

  // 삭제하는지 한번 더 확인해주기. 
  function removeCheck() {
    if (confirm("정말 삭제하시겠습니까??") == true) {    //확인
      remove();
    } else {   //취소
      location.href = "/blog/list"
    }
  }



  // 댓글 보여주기 
  function call_comment() {
    $.ajax({
      type: 'GET',
      url: `lookupComment/${PostId}`,
      contentType: "application/json",
      xhrFields: { withCredentials: true },
      headers: {
        authorization: `Bearer ${localStorage.getItem('token')}`,
      },
      data: {},
      success: function(response) {

       let tokenObject = response["user"]
    
       let raw = response['sorted_total_ls'] //sorted_total_ls
       console.log(raw)   
        for (let i = 0; i < raw.length; i++) {
          let UserId = raw[i]['UserId'];
          let comment = raw[i]['comment'];
          let CommentId = raw[i]['CommentId']
          let NowDate = raw[i]['NowDate'];       

          if(UserId === tokenObject.id) {
            let temp_html = `
                                      <!-- 댓글 시작 -->
                                      <div class="card" style="width: 1300px; padding: 15px;">
                                          <div class="row">
                                              <!-- 내용 -->
                                              <div class="col-lg-3">
                                                  <div class="card-body">
                                                  ${comment}
                                                  </div>
                                              </div>
                                              <!-- 공백 -->
                                              <div class="col-lg-1">
                                      
                                              </div>
                                              <!-- 이름 -->
                                              <div class="col-lg-2">
                                                  작성자: ${UserId}
                                              </div>
                                              <!-- 날짜 -->
                                              <div class="col-lg-3" id="Date">
                                                  작성일자: ${NowDate}
                                              </div>
                                              <!-- 댓글ID -->
                                              <div class="col-lg-1" id="${CommentId}">
                                                댓글 고유ID: ${CommentId}
                                              </div>
                                              <!-- 버튼 -->
                                              <div class="col-lg-2" style="padding: 15px; margin: auto">
                                                <button type="button" onclick="redirectModifyComment(${CommentId})">수정</button>
                                                                  
                                              </div>
                                          </div>
                                      </div>
                                      <p></p>`
                  $('#commentAppend').append(temp_html)
          }else{
            let temp_html = `
                                      <!-- 댓글 시작 -->
                                      <div class="card" style="width: 1300px; padding: 15px;">
                                          <div class="row">
                                              <!-- 내용 -->
                                              <div class="col-lg-3">
                                                  <div class="card-body">
                                                  ${comment}
                                                  </div>
                                              </div>
                                              <!-- 공백 -->
                                              <div class="col-lg-1">
                                      
                                              </div>
                                              <!-- 이름 -->
                                              <div class="col-lg-2">
                                                  작성자: ${UserId}
                                              </div>
                                              <!-- 날짜 -->
                                              <div class="col-lg-3" id="Date">
                                                  작성일자: ${NowDate}
                                              </div>
                                              <!-- 댓글ID -->
                                              <div class="col-lg-1" id="${CommentId}">
                                                댓글 고유ID: ${CommentId}
                                              </div>
                                          </div>
                                      </div>
                                      <p></p>`
                  $('#commentAppend').append(temp_html)
         }
        }
      }
    })
  }

  // 댓글작성
  function posting_comment_auth() {
    let comment = $("#comment").val()

    $.ajax({
      type: 'POST',
      url: 'postingComment',
      contentType: "application/json",
      xhrFields: { withCredentials: true },
      data: JSON.stringify({ comment, PostId}),
      headers: {
        authorization: `Bearer ${localStorage.getItem('token')}`,
      },
      success: function (response) {
        alert(response["msg"])
        window.location.reload()
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("로그인이 필요한 기능입니다.")
        window.location.replace("/user/login");
      },
    })
  }


  function redirectModifyComment(CommentId) {
    document.location.href = `/blog/modifyComment?CommentId=${CommentId}&PostId=${PostId}`
  
  }
</script>



<body>
  <div id="removeBox">
    <a></a>비밀번호를 입력하세요</a></br>
    <input class="inputPwd" id="password_write" type="number" placeholder="숫자를 입력하세요" />
    <button class="btn btn-primary" id="removebBtn" type="submit" onclick="remove_validation()">삭제</button>
  </div>

  <!-- 상세페이지 컨트롤 -->
  <div id="detailAppend" name="detailAppend">
    <div class="btncls">
      <button class="btn btn-primary" id="modifyBtn" type="submit" onclick="modifyPost()">수정</button></br></br>
    </div>
  </div>



  <!-- 댓글 작성 -->
  댓글 달기</br> <textarea rows="3" id="comment"></textarea></br>
  <button type="button" class="btn btn-success" onclick="posting_comment_auth()">등록</button>
  </div>


  <!-- 댓글 창 -->
  <div id="commentAppend">
  </div>

</html>