<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글수정 페이지</title>
</head>
<style>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
  //이 페이지가 랜딩되고 있는 url의 쿼리스트링 가져오기
  let PostId = new URLSearchParams(location.search).get('PostId')

    $(document).ready(function () {
        get_detail()
    })
    //상세페이지 정보
    function get_detail() {
        $.ajax({
            type: "GET",
            url: `blogList/${PostId}`,
            data: {},
            success: function (response) {
                let blogList = response["blogList"];
                //console.log(blogList) //값 넘어옴
                let password_write = blogList['password_write'];

                $("#subject").val(blogList["subject"]);
                $("#nick").val(blogList["nick"]);
                $("#content").val(blogList["content"]);
            }
        });
    }


    function modify_validation() {
        $.ajax({
            type: "GET",
            url: `blogList/${PostId}`,
            data: {},
            success: function (response) {
                let blogList = response["blogList"];
                //db에 저장된 비밀번호 가져오기
                let password_write = blogList['password_write']
               // console.log(password) //db저장된 비밀번호 출력됌 

                //비밀번호 입력창에 입력한 값과 db로 가져온 password를 비교하여 검사
                if (password_write === Number($("#password_write").val())) {
                    modify()
                }
                else {
                    alert("비밀번호가 다릅니다.");
                }
            }
        });
    }

  
    function modify() {
        $.ajax({
            type: "PATCH",
            url: `blogList/${PostId}`,
            data: {
                //바뀐 데이터
                subject: $(subject).val(),
                nick: $(nick).val(),
                content: $(content).val(),
            },
            success: function (response) {
                if (response["result"] == "success") {
                    alert("글이 수정 되었습니다.");
                    window.location.href = "/blog/list"
                }else {
                    alert("로그인 해주세요."); //alert안뜸 
        }
            }
        });
    }
    //취소 버튼 시 뒤로가기 기능
    function back() {
        location.href = 'javascript:history.back();'
    }
</script>

<body>
    <h1>글수정 페이지</h1>
    <div class="form-group">
        <div class="label">
            <label for="exampleFormControlInput1" style="font-weight: bold;">제목 : </label>
            <input id="subject" name="subject"></label>
        </div>
        <div class="label">
            <label for="exampleFormControlInput1" style="font-weight: bold;">작성자명 : </label>
            <input id="nick"></label>
        </div>
        <div class="label">
            <label for="exampleFormControlInput1" style="font-weight: bold;">작성했던 날짜 : </label>
            <label id="NowDate"></label>
        </div>
        <div class="label">
            <label for="exampleFormControlInput1">내용</label>
            <textarea class="form-control" id="content" type="text" rows="10"></textarea>
        </div>
        <div class="label">
            <!-- 값을 string으로 받아서 넣어주기때문에 비교할때는 Number타입으로 바꿔줘야됌. -->
            비밀번호 : <input type="password" id="password_write" name="password_write" />
            <button onclick='modify_validation()'>확인</button>
            <button onclick="back()">취소</button>
        </div>
    </div>
</body>

</html>