<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글작성 페이지</title>
</head>

<body>
  <h1>글작성 페이지</h1>
  <label>글 제목</label>
  <input type="text" id="subject" name="subject"></br>
  <label>작성자명</label>
  <input type="text" id="nick" name="nick"></br>
  <label>비밀번호</label>
  <input type="text" id="password_write" name="password_write"></br>
  <label>작성 내용</label>
  <input type="textarea" id="content" name="content"></br>
  <button onclick="post_write();">글쓰기</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function post_write() {
      $.ajax({
        type: "POST",
        url: `/blog/blogList`,
        dataType: "json",
        data: {
          //post 보낼 데이터
          subject: $("#subject").val(),
          nick: $("#nick").val(),
          password_write: $("#password_write").val(),
          content: $("#content").val(),
        },
        success: function (response) {
          if (response['result'] == "success") {
            alert("게시글 작성에 성공하였습니다!")
            location.href = "/blog/list"
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        alert("로그인이 필요한 기능입니다.")
        location.href = "/user/login"
      },
      });
    }

  </script>
</body>

</html>
